<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="4.5.22477.12540" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock" version="4.5.22477.12540" targetFramework="net48" />
  <package id="Xceed.Wpf.Toolkit" version="4.5.22477.12540" targetFramework="net48" />
</packages>